:root {
  --accent-color: $accentColor;
  --text-color: $textColor;
  --border-color: $borderColor;
  --code-bg-color: $codeBgColor;
  --tag-badge-color: $tagBadgeColor;
  --content-width: $contentWidth;
}

h1 {
  font-family: monospace;
}

.wrapper {
  max-width: var(--content-width, 640px);
  padding: 0 1.5rem 0;
  margin: 0 auto;
}

.bottom {
  margin: 0 auto;
  margin-bottom: 2rem;
}

  .img
    text-align center
